<div class="container">
<h1 class="text-primary"><%= @place.name %></h1>

<h3 class="text-secondary">My Posts</h3>

<% if @current_user %>

<% for post in @place.posts.where({user_id: @current_user.id}) %>

  <h4><%= post.title %></h4>
  <h6><%= post.posted_on %></h6>
  <% if post.picture.attached? %>
  <img src="<%=url_for(post.picture)%>" class="img-fluid">
  <%else%>
nil
  <%end%>
  <p><%= post.description %></p>
<% end %>

</div>
</div>

<p>
  <a href="/posts/new?place_id=<%= @place.id %>", class="btn btn-success">New Post</a>
</p>

<p>
  <a href="/places", class="btn btn-info">Back to All Places</a>
</p>

<%else%>
Login to add new post or see your previous post(s)!
<%end%>

</div>