<div class="container">
<h1 class="text-primary"><%= @place.name %></h1>

<h2 class="text-secondary">My Posts</h2>

<% if @current_user %>

<% for post in @place.posts.where({user_id: @current_user.id}) %>
  <h3><%= post.title %></h3>
  <h4><%= post.posted_on %></h4>
  <p><%= post.description %></p>
<% end %>

<p>
  <a href="/posts/new?place_id=<%= @place.id %>", class="btn btn-success">New Post</a>
</p>

<p>
  <a href="/places", class="btn btn-info">Back to All Places</a>
</p>

<%else%>
Login to add new post or see your previous post(s)!
<%end%>

</div>